* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 2em 4em;
}

.container h1 {
  margin-bottom: .5em;
}

.container ol {
  margin-top: .5em;
  margin-left: 1em;
}

.container ol li {
  margin-bottom: .5em;
}


a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: darkblue;
}